body,html {
    background-image:url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}
#title-index {
    font-size: 60px;
    font-weight: 9999;
}
#index-explanation {
    margin-top: 120px;
    background-color:rgba(255, 255, 255, 0.656);
    border-radius: 25px;
    padding:10px;
    font-size:20px;
}
#explore-title {
    margin-top:100px;
}
#weatherwidget {
    border-radius:20px;
}
#map {
    margin-top:50px;
    border-style: dashed;
    /*
    Unused atm
    width:620px;
    max-width:620px;
    max-height:450px;
    */
    height:450px;
    padding:10px;
}
#weather1 {
    background-color:rgba(255,255,255,0.656);
    border-radius:25px;
    margin-top: 50px;
    font-size: 20px;
}
#map-link {
    color:pink;
    text-decoration: underline;
}
#map-link-div {
    margin-top: 20px;
}
#map-link:active {
    color:cyan;
}
#map-link:hover {
    color:cyan;
}