body {
    background-image:url(assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
}
#title-index {
    font-size: 60px;
    font-weight: 9999;
}
#index-explanation {
    margin-top: 120px;
    background-color:rgba(255, 255, 255, 0.656);
    border-radius: 25px;
    padding:10px;
    font-size:25px;
}
#explore-title {
    margin-top:100px;
}
#weatherwidget {
    border-radius:20px;
}
#map {
    margin-top:50px;
    border-style: dashed;
    height:450px;
    padding:10px;
}
#weather1 {
    background-color:rgba(255,255,255,0.656);
    border-radius:25px;
    margin-top: 50px;
    font-size: 23px;
}
#map-link {
    color:pink;
    text-decoration: underline;
}
#map-link-div {
    margin-top: 20px;
}
#map-link:active {
    color:cyan;
}
#map-link:hover {
    color:cyan;
}
#food-grid {
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 20px;
    margin-top:200px;
    max-width: 1500px;
    font-size: 20px;
}
#activities-grid {
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 20px;
    margin-top:200px;
    max-width: 1500px;
    font-size: 20px;
}
#itinerary-text {
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.656);
    border-radius: 20px;
    max-width: 700px;
}
#steak-club-leidse:hover {
    background-image: url(assets/steak-club-leidse.jpg);
    cursor:crosshair;
    color:white;
}
#amigo-grill:hover {
    background-image: url(assets/amigo-grill.jpg);
    cursor:crosshair;
    color:white;
}
#bello-gios:hover {
    background-image: url(assets/bello-gios.jpg);
    cursor:crosshair;
    color:white;
}
#humphreys:hover {
    background-image: url(assets/humphreys.jpg);
    cursor:crosshair;
    color:white;
}
#moon:hover {
    background-image: url(assets/moon.jpg);
    cursor:crosshair;
    color:white;
}
#hidden-thing {
    visibility:hidden;
    float:bottom;
}
#hidden-thing:hover {
    visibility:visible;
    background-color:rgba(255, 255, 255, 0.656);
}